<%# this is a partial, so it will be included in other views %>
<%= link_to products_path  do %>
    <h1> Rail </h1>
<% end %>

<div>
    <%= Current.user.inspect %>
</div>


<%= link_to 'Add product', new_product_path if Current.user %>
<%= link_to 'Categories', categories_path if Current.user %>
<%= link_to 'Login', new_session_path unless Current.user %>
<%= link_to 'Register', new_user_path unless Current.user %>
<%= link_to 'Logout', session_path(Current.user.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure' } if Current.user %>
